# Library imports

In [167]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import time

# Functions and Classes

In [168]:
def get_point_coordinate_from_pixel_coordinate(pixel_coordinate, point_precision):
    """
    Adjusts the coordinates of a pixel to the coordinates of the point it corresponds to.
    
    Args:
        - pixel_coordinate: the coordinate of a pixel, only a singel axis.
        - point_precision: the precision of the groundtruth.
    Returns:
        - the coordinate of the point the pixel corresponds to.
    """
    floor_divided_pixel = pixel_coordinate // (point_precision/2)
    if floor_divided_pixel % 2:
        return floor_divided_pixel * (point_precision/2)
    else:
        return (floor_divided_pixel + 1) * (point_precision/2)

In [213]:
not set([4,2,5]).issubset(set([1,2,3,4,5]))

False

In [177]:
class FeatureExtractor:
    """
    Extracts the features of each point based on the pixels inside it.
    
    Attributes
    ----------
    input_data : Pandas DataFrame
        LiDAR input information with the coordinates of the points corresponding to each pixel.
    columns : List of str
        Names of the columns of the input_data DataFrame.
    point_x_coord_name : str
        Name of the column corresponding to the x coordinate of the point for each pixel.
    point_y_coord_name : str
        Name of the column corresponding to the y coordinate of the point for each pixel.
    
    Methods
    -------
    mean_height(name='mean_height')
    num_pixels(name='num_pixels')
    num_ground(name='num_ground')
    num_low_vegetation(name='num_low_vegetation')
    num_medium_vegetation(name='num_medium_vegetation')
    num_high_vegetation(name='num_high_vegetation')
    num_building(name='num_building')
    num_low_point(name='num_low_point')
    max_height_diff(name='max_height_diff')
    
    """
    
    def __init__(self, input_data, block_height_grouping):
        self.xp = 'x_p'      # pixel's point x coordinate column name
        self.yp = 'y_p'      # pixel's point y coordinate column name
        self.x = 'x'         # pixel x coordinate column name
        self.y = 'y'         # pixel y coordinate column name
        self.c = 'c'     # pixel class column name
        self.a = 'a'     # pixel angle columns name
        
        if not set(['x_p', 'y_p', 'x', 'y', 'c', 'a']).issubset(set(input_data.columns)):
            print("Error: Input data has not the necessary columns")
        
        self.data = self._get_heights(input_data, block_height_grouping)  # LiDAR data with point-assigned pixels and its height
        self.grouped = self.data.groupby([self.xp, self.yp]) # pixels grouped by point
          
        
    def _get_heights(self, input_data, grouping):
        input_data['height_merging_x'] = ( input_data[self.x] // grouping ) * grouping
        input_data['height_merging_y'] = ( input_data[self.y] // grouping ) * grouping

        input_copy = input_data.copy()

        input_copy = input_copy.groupby(['height_merging_x', 'height_merging_y'])['z'].min().reset_index()
        input_copy = input_copy.rename({'z':'surface_z'}, axis=1)

        input_data = pd.merge(input_data, input_copy, how='left', on=['height_merging_x', 'height_merging_y'])
        input_data['height'] = input_data['z'] - input_data['surface_z']

        input_data = input_data.drop(['z', 'surface_z', 'height_merging_x', 'height_merging_y'], axis=1)
        
        return input_data
    
    def not_cassified_pts(self, name='not_classified_pts'):
        # NEW
        '''
        Number of points that are not vegetation nor ground.
        
        Parameters
        ----------
        name : name of the resulting series object (that will eventually be the column name in the dataset)        
        '''
        aux_arr = self.data.query('@self.c not in [3, 4, 5, 6, 7]').copy()
        
        aux_arr.groupby([self.xp, self.yp])[self.c].count()
        return aux_arr.rename(name, inplace=True)
        
           
    def angle_mean(self, name='angle_mean'):
        # NEW
        '''
        Mean angle of scanning.
        
        Parameters
        ----------
        name : name of the resulting series object (that will eventually be the column name in the dataset)
        '''
        values = self.grouped[self.a].mean()
        return values.rename(name, inplace=True)
    
    def angle_quantile(self, quant, name='angle_Q'):
        # NEW
        """
        Quantile value of the height array of that point.
        
        Parameters
        ----------
        quant: Percentage of the quantile. Range: [0,1]
        name : name of the resulting series object (that will eventually be the column name in the dataset)
        """
        values = self.grouped[self.a].quantile(quant)
        return values.rename(name+str(quant), inplace=True)
    
    def angle_sd(self, name='angle_sd'):
        # NEW
        '''
        The standard deviation of the angle Array of that point.
        
        Parameters
        ----------
        name : name of the resulting series object (that will eventually be the column name in the dataset)
        '''
        values = self.grouped[self.a].std()
        return values.rename(name, inplace=True)
    
    def angle_max_diff(self, name='angle_max_diff'):
        # NEW
        """
        The difference between the highest angle and the lowest angleu.
        
        Parameters
        ----------
        name : name of the resulting series object (that will eventually be the column name in the dataset)
        """
        values = self.grouped[self.a].max()
        return values.rename(name, inplace=True)
    
    def height_quantile(self, quant, name='height_Q'):
        """
        Quantile value of the height array of that point.
        
        Parameters
        ----------
        quant: Percentage of the quantile. Range: [0,1]
        name : name of the resulting series object (that will eventually be the column name in the dataset)
        """
        values = self.grouped['height'].quantile(quant)
        return values.rename(name+str(quant), inplace=True)
        
    def threshold_percentage(self, threshold, name='above_threshold_pct'):
        """
        Percentage of points above a certain threshold.
        
        Parameters
        ----------
        name : name of the resulting series object (that will eventually be the column name in the dataset)
        """
        my_block = self.data.copy()
        df_canopy = my_block.query('height > @threshold').copy()

        df_canopy['counted_canopy'] = np.zeros(df_canopy.shape[0])
        df_canopy = df_canopy.groupby([self.xp, self.yp])[['counted_canopy']].count().reset_index()

        my_block['counted_no_canopy'] = np.zeros(my_block.shape[0])
        my_block = my_block.groupby([self.xp, self.yp])[['counted_no_canopy']].count().reset_index()

        my_block = pd.merge(my_block, df_canopy, how='left', on = [self.xp, self.yp])

        my_block['counted_canopy'].fillna(0, inplace=True)
        my_block[name] = 100*my_block['counted_canopy'] / my_block['counted_no_canopy']
        
        my_block.drop(['counted_canopy', "counted_no_canopy"], axis=1, inplace = True)
        
        return my_block
    
    def sd_height(self, name='sd_height'):
        '''
        The standard deviation of the height Array of that point.
        
        Parameters
        ----------
        name : name of the resulting series object (that will eventually be the column name in the dataset)
        '''
        values = self.grouped['height'].std()
        return values.rename(name, inplace=True)
        
    def max_height_diff(self, name='max_height_diff'):
        """
        The difference between the highest LiDAR point and the lowest LiDAR point.
        
        Parameters
        ----------
        name : name of the resulting series object (that will eventually be the column name in the dataset)
        """
        values = self.grouped['height'].max()
        return values.rename(name, inplace=True)
    
    def mean_height(self, name='mean_height'):
        """
        Mean height with respect to the geoid.
         
        Parameters
        ----------
        name : name of the resulting series object (that will eventually be the column name in the dataset)
        """
        values = self.grouped['height'].mean()
        return values.rename(name, inplace=True)
    
    def num_pixels(self, name='num_pixels'):
        """
        Number of pixels of each point.
        
        Parameters
        ----------
        name : name of the resulting series object (that will eventually be the column name in the dataset)
        """
        values = self.grouped.count()[self.x]
        return values.rename(name, inplace=True)
    
    def num_ground(self, name='num_ground'):
        """
        Number of pixels classified as "ground".
        
        Parameters
        ----------
        name : name of the resulting series object (that will eventually be the column name in the dataset)
        """
        filtered = self.data[self.data[self.c]==2] # 2 corresponds to "low vegetation"
        values = filtered.groupby([self.xp, self.yp]).count()[self.x]
        return values.rename(name, inplace=True)
    
    def num_low_vegetation(self, name='num_low_vegetation'):
        """
        Number of pixels classified as "low vegetation".
        
        Parameters
        ----------
        name : name of the resulting series object (that will eventually be the column name in the dataset)
        """
        filtered = self.data[self.data[self.c]==3] # 3 corresponds to "low vegetation"
        values = filtered.groupby([self.xp, self.yp]).count()[self.x]
        return values.rename(name, inplace=True)
    
    def num_medium_vegetation(self, name='num_medium_vegetation'):
        """
        Number of pixels classified as "medium vegetation".
        
        Parameters
        ----------
        name : name of the resulting series object (that will eventually be the column name in the dataset)
        """
        filtered = self.data[self.data[self.c]==4] # 4 corresponds to "low vegetation"
        values = filtered.groupby([self.xp, self.yp]).count()[self.x]
        return values.rename(name, inplace=True)
    
    def num_high_vegetation(self, name='num_high_vegetation'):
        """
        Number of pixels classified as "high vegetation".
        
        Parameters
        ----------
        name : name of the resulting series object (that will eventually be the column name in the dataset)
        """
        filtered = self.data[self.data[self.c]==5] # 5 corresponds to "high vegetation"
        values = filtered.groupby([self.xp, self.yp]).count()[self.x]
        return values.rename(name, inplace=True)
    
    def num_building(self, name='num_building'):
        """
        Number of pixels classified as "building".
        
        Parameters
        ----------
        name : name of the resulting series object (that will eventually be the column name in the dataset)
        """
        filtered = self.data[self.data[self.c]==6] # 6 corresponds to "building"
        values = filtered.groupby([self.xp, self.yp]).count()[self.x]
        return values.rename(name, inplace=True)
    
    def num_low_point(self, name='num_low_point'):
        """
        Number of pixels classified as "low point".
        
        Parameters
        ----------
        name : name of the resulting series object (that will eventually be the column name in the dataset)
        """
        filtered = self.data[self.data[self.c]==7] # 7 corresponds to "low point"
        values = filtered.groupby([self.xp, self.yp]).count()[self.x]
        return values.rename(name, inplace=True)

In [188]:
my_block.rename({'class':'c'}, axis=1, inplace=True)

In [189]:
my_block.query("c not in [3,4,5,6]")

,x,y,z,c,x_p,y_p,height_merging_x,height_merging_y
0,396119.9302,4.591942e+06,227.8002,8,396110.0,4591950.0,396114.0,4591938.0
1,396119.9798,4.591949e+06,228.0999,8,396110.0,4591950.0,396114.0,4591944.0
2,396119.9299,4.591944e+06,227.7201,8,396110.0,4591950.0,396114.0,4591938.0
3,396119.8902,4.591937e+06,227.5502,8,396110.0,4591930.0,396114.0,4591932.0
4,396119.9499,4.591945e+06,227.8001,8,396110.0,4591950.0,396114.0,4591944.0
...,...,...,...,...,...,...,...,...
4086,396020.7200,4.591943e+06,223.3100,8,396030.0,4591950.0,396018.0,4591938.0
4088,396020.0700,4.591904e+06,220.8300,8,396030.0,4591910.0,396018.0,4591902.0
4090,396020.0800,4.591905e+06,220.6500,8,396030.0,4591910.0,396018.0,4591902.0
4091,396020.1000,4.591907e+06,220.6600,2,396030.0,4591910.0,396018.0,4591902.0
4093,396020.1500,4.591910e+06,220.6500,8,396030.0,4591910.0,396018.0,4591908.0

# Script

In [170]:
# Constants
groundtruth_datapath = '../tiny dataset/groundtruth_tinydataset.csv'  # Where the groundturh data is stored
groundtruth_columns = ['x', 'y', 'CC']                                # Groundturth data columns
groundtruth_precision = 20                                            # Groundturth precision in meters
input_datapath = '../tiny dataset/input_tinydataset.txt'              # Where the input data is stored
input_columns = ['x','y','z', 'class']                                # Input data columns

### Creation of the dataset

In [171]:
# LiDAR and groundtruth reading
my_block = pd.read_csv(input_datapath, sep=' ', header = None, names = input_columns)
groundtruth = pd.read_csv(groundtruth_datapath, sep=' ', header = None, names = groundtruth_columns)

In [172]:
# Adding the corresponding point coordinates to each pixel
my_block['x_p'] = my_block.apply(lambda pixel: get_point_coordinate_from_pixel_coordinate(pixel['x'], groundtruth_precision), axis=1)
my_block['y_p'] = my_block.apply(lambda pixel: get_point_coordinate_from_pixel_coordinate(pixel['y'], groundtruth_precision), axis=1)

In [173]:
# Creating the final dataset
data = groundtruth.copy()
    # Necessary in order to merge later
data.rename(columns={"x": "x_p", "y": "y_p"}, inplace=True)

In [174]:
# Creating the feature extractor object
FE = FeatureExtractor(my_block, input_columns, 'x_p', 'y_p', 6)

In [176]:
FE.sd_height()

x_p       y_p
396030.0  4591890.0    3.839562
          4591910.0    3.856031
          4591930.0    7.379616
          4591950.0    3.924502
          4591970.0    6.540226
396050.0  4591890.0    1.193558
          4591910.0    2.242552
          4591930.0    2.044552
          4591950.0    1.550765
          4591970.0    1.782088
396070.0  4591890.0    1.897613
          4591910.0    1.341521
          4591930.0    1.536588
          4591950.0    2.004337
          4591970.0    0.450790
396090.0  4591890.0    4.399346
          4591910.0    4.061888
          4591930.0    2.346309
          4591950.0    1.930787
          4591970.0    1.455852
396110.0  4591890.0    5.211729
          4591910.0    3.997569
          4591930.0    1.867207
          4591950.0    2.056323
          4591970.0    1.724072
Name: sd_height, dtype: float64

In [44]:
input_data = my_block
grouping = 6

In [45]:
input_data['height_merging_x'] = ( input_data['x'] // grouping ) * grouping
input_data['height_merging_y'] = ( input_data['y'] // grouping ) * grouping

input_copy = input_data.copy()

input_copy = input_copy.groupby(['height_merging_x', 'height_merging_y'])['z'].min().reset_index()
input_copy = input_copy.rename({'z':'surface_z'}, axis=1)

input_data = pd.merge(input_data, input_copy, how='left', on=['height_merging_x', 'height_merging_y'])
input_data['height'] = input_data['z'] - input_data['surface_z']

input_data = input_data.drop(['z', 'surface_z', 'height_merging_x', 'height_merging_y'], axis=1)

                x             y  class       x_p        y_p  height
0     396119.9302  4.591942e+06      8  396110.0  4591950.0  0.5504
1     396119.9798  4.591949e+06      8  396110.0  4591950.0  0.5197
2     396119.9299  4.591944e+06      8  396110.0  4591950.0  0.4703
3     396119.8902  4.591937e+06      8  396110.0  4591930.0  1.3104
4     396119.9499  4.591945e+06      8  396110.0  4591950.0  0.2199
...           ...           ...    ...       ...        ...     ...
4091  396020.1000  4.591907e+06      2  396030.0  4591910.0  2.2102
4092  396020.7100  4.591931e+06      5  396030.0  4591930.0  0.0000
4093  396020.1500  4.591910e+06      8  396030.0  4591910.0  0.0701
4094  396020.1300  4.591894e+06      5  396030.0  4591890.0  7.6198
4095  396020.6900  4.591926e+06      5  396030.0  4591930.0  0.9799

[4096 rows x 6 columns]

In [40]:
# Adding the features to the dataset

    # Mean height above geoid
data = data.merge(FE.mean_height(), how='left', on=['x_p', 'y_p'])
    # Number of pixels
data = data.merge(FE.num_pixels(), how='left', on=['x_p', 'y_p'])
    # Number of pixels classified as ground
data = data.merge(FE.num_ground(), how='left', on=['x_p', 'y_p'])
    # Number of pixels classified as low vegetation
data = data.merge(FE.num_low_vegetation(), how='left', on=['x_p', 'y_p'])
    # Number of pixels classified as medium vegetation
data = data.merge(FE.num_medium_vegetation(), how='left', on=['x_p', 'y_p'])
    # Number of pixels classified as high vegetation
data = data.merge(FE.num_high_vegetation(), how='left', on=['x_p', 'y_p'])
    # Number of pixels classified as building
data = data.merge(FE.num_building(), how='left', on=['x_p', 'y_p'])
    # Maximum height difference
data = data.merge(FE.max_height_diff(), how='left', on=['x_p', 'y_p'])

data.fillna(0, inplace=True)

In [48]:
data

,x_p,y_p,CC,mean_height,num_pixels,num_ground,num_low_vegetation,num_medium_vegetation,num_high_vegetation,num_building,max_height_diff
0,396030.0,4591970.0,63.66,226.972302,163,3,13,13.0,94.0,0.0,22.6701
1,396050.0,4591970.0,0.00,223.982522,156,27,11,10.0,16.0,0.0,10.6000
2,396070.0,4591970.0,0.00,221.791786,155,22,3,0.0,0.0,0.0,3.6897
3,396090.0,4591970.0,19.44,225.837149,167,11,10,8.0,14.0,0.0,8.5096
4,396110.0,4591970.0,0.00,228.444619,157,32,10,4.0,9.0,0.0,9.8000
5,396030.0,4591950.0,0.00,226.463891,173,9,17,9.0,77.0,0.0,15.5503
6,396050.0,4591950.0,0.00,221.181715,162,18,27,11.0,6.0,0.0,8.3002
7,396070.0,4591950.0,25.37,221.231087,151,10,23,13.0,24.0,0.0,11.1598
8,396090.0,4591950.0,25.74,227.649114,168,6,5,20.0,26.0,32.0,9.0500
9,396110.0,4591950.0,0.00,229.799385,155,11,11,1.0,61.0,7.0,7.6400
10,396030.0,4591930.0,0.00,224.385771,168,10,23,10.0,58.0,0.0,67.8200
11,396050.0,4591930.0,0.00,217.614185,165,21,27,9.0,25.0,0.0,9.9500
12,396070.0,4591930.0,0.00,217.948517,147,11,34,28.0,8.0,0.0,10.6997
13,396090.0,4591930.0,28.07,224.968631,165,7,17,29.0,51.0,0.0,17.6000
14,396110.0,4591930.0,18.39,226.778734,170,19,7,7.0,7.0,11.0,10.5500
15,396030.0,4591910.0,0.00,220.450030,181,11,17,12.0,53.0,0.0,17.3804
16,396050.0,4591910.0,0.00,213.653866,158,20,22,16.0,15.0,0.0,11.2401
17,396070.0,4591910.0,0.00,213.531300,156,18,22,25.0,5.0,0.0,6.8600
18,396090.0,4591910.0,35.92,219.513831,168,7,14,5.0,47.0,0.0,16.2603
19,396110.0,4591910.0,42.35,227.977592,168,4,13,6.0,61.0,0.0,16.6200
20,396030.0,4591890.0,0.00,216.366264,175,8,18,15.0,69.0,0.0,17.6002
21,396050.0,4591890.0,0.00,209.940673,157,23,17,40.0,1.0,0.0,6.8099
22,396070.0,4591890.0,0.00,210.579487,148,9,35,13.0,11.0,0.0,14.0896
23,396090.0,4591890.0,52.39,218.686136,178,3,17,2.0,81.0,0.0,19.3900
24,396110.0,4591890.0,58.45,224.931057,185,6,14,4.0,85.0,0.0,22.8903

In [41]:
# Showing some rows to check if it looks as expected
data[0:5]

,x_p,y_p,CC,mean_height,num_pixels,num_ground,num_low_vegetation,num_medium_vegetation,num_high_vegetation,num_building,max_height_diff
0,396030.0,4591970.0,63.66,226.972302,163,3,13,13.0,94.0,0.0,22.6701
1,396050.0,4591970.0,0.00,223.982522,156,27,11,10.0,16.0,0.0,10.6000
2,396070.0,4591970.0,0.00,221.791786,155,22,3,0.0,0.0,0.0,3.6897
3,396090.0,4591970.0,19.44,225.837149,167,11,10,8.0,14.0,0.0,8.5096
4,396110.0,4591970.0,0.00,228.444619,157,32,10,4.0,9.0,0.0,9.8000

### EDA

In [43]:
data.shape

(25, 11)

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 24
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   x_p                    25 non-null     float64
 1   y_p                    25 non-null     float64
 2   CC                     25 non-null     float64
 3   mean_height            25 non-null     float64
 4   num_pixels             25 non-null     int64
 5   num_ground             25 non-null     int64
 6   num_low_vegetation     25 non-null     int64
 7   num_medium_vegetation  25 non-null     float64
 8   num_high_vegetation    25 non-null     float64
 9   num_building           25 non-null     float64
 10  max_height_diff        25 non-null     float64
dtypes: float64(8), int64(3)
memory usage: 2.3 KB

In [42]:
data.describe()

,x_p,y_p,CC,mean_height,num_pixels,num_ground,num_low_vegetation,num_medium_vegetation,num_high_vegetation,num_building,max_height_diff
count,25.000000,2.500000e+01,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,396070.000000,4.591930e+06,14.791200,221.627186,163.840000,13.040000,17.080000,12.400000,36.160000,2.000000,14.909208
std,28.867513,2.886751e+01,21.053705,5.705478,9.961091,7.850053,8.154344,9.643651,30.262298,6.751543,12.130478
min,396030.000000,4.591890e+06,0.000000,209.940673,147.000000,3.000000,3.000000,0.000000,0.000000,0.000000,3.689700
25%,396050.000000,4.591910e+06,0.000000,217.948517,156.000000,7.000000,11.000000,6.000000,9.000000,0.000000,9.050000
50%,396070.000000,4.591930e+06,0.000000,221.791786,165.000000,11.000000,17.000000,10.000000,25.000000,0.000000,11.159800
75%,396090.000000,4.591950e+06,25.740000,226.463891,168.000000,19.000000,22.000000,15.000000,61.000000,0.000000,17.380400
max,396110.000000,4.591970e+06,63.660000,229.799385,185.000000,32.000000,35.000000,40.000000,94.000000,32.000000,67.820000